.navbar{
    background-color: #bbdee7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.7rem 3rem;
}

.title{
    margin: 0;
    font-size: 2rem;
}

.navbar-links{
    display: flex;
}

.nav-link{
    padding-left: 3rem;
    margin: 0;
    cursor: pointer;
    color: #333333;
    text-decoration: none;
}